@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600;700;800;900&display=swap');

*{
  font-family:'Work Sans', sans-serif;
}



.header img{
  width: 33px;
  height: 33px;
  margin-right: 13px;
}

.greetings{
  width: 50%;
}

.greetings p{
  margin: 0;
  font-size: 12px;
  width: 50%;
}

.greetings h5{
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  width: 50%;
}

.landing{
  background-color: #EEBECE;
  background-image: url(background/home/Path\ 3.png),url(background/home/Bitmap.png), url(background/home/Oval.png),url(background/home/Path.png),url(background/home/Path\ 2.png);
  background-size: 20%,150px, 10%,50%,100%;
  background-position-x: 940px,center,400px,20%,0px;
  background-position-y: 300px, 280px,240px,-25px,-10px;
  background-repeat: no-repeat;
  padding-top: 84px;
}

.landing h1{
  color: white;
  font-weight: 800;
  font-size: 62px;
  margin-bottom: 20px;
}

.landing p{
  color: white;
  font-size: 21px;
  font-style: italic;
  font-weight: 600;
  margin-bottom: 267px;
}

.landing button{
  padding: 20px 84px;
  margin-bottom: 200px;
  border: none;
  border-radius: 29px;
}

.about{
  background-color: #EEBECE;
  background-image:url(background/about/Oval.png),url(background/about/Bitmap\ Copy.png),url(background/about/Path\ 4.png);
  background-position-x: 200px,right,right;
  background-position-y:350px,30px,0;
  background-repeat: no-repeat;
  position: relative;
}

.aboutWrap{
  width: 42%;
  padding: 160px 0 279px;
  font-weight: 600;
  font-size: 21;
}

.aboutWrap span{
  color: #0B24FB;
}

.aboutWrap h5{
  font-style: italic;
}

.mySwipper{
  width: 80%;
}

.testimonials{
  position: absolute;
  top: 1250px;
  left: 0;
  right: 0;
}

.testimonials h1{
  font-weight: 900;
  text-align: center;
  font-size: 32px;
}

.testimony{
  padding: 20px;
  height: 140px;
  background-color: white;
  margin: 0 30px;
}

.testimony h2{
  font-weight: 900;
  font-size: 32px;
}

.testimony p{
  font-size: 12px;
}

.prevbuttonNav,.nextbuttonNav{
  position: absolute;
  z-index: 1;
  top: 40%;
}

.nextbuttonNav{
  left: 95%;
}

.prevbuttonNav button{
  background: url(./images/testi/Oval\ +\ Icon1.png);
}

.nextbuttonNav button,.contentDesc button{
  background: url(./images/testi/Oval\ +\ Icon.png);
}

.prevbuttonNav button,.nextbuttonNav button{
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #0b24fb;
  background-size: contain;  
}

.contents{
  background-color: black;
  padding-top: 156px;
  background-image: url(./background/tips/Path\ 3.png);
  background-size: 140px;
  background-position-x:1030px;
  background-position-y: 700px;
  background-repeat: no-repeat;
}

.contents h2{
  font-weight: 900;
  margin-bottom: 30px;
  text-align: center;
}

.contents h1{
  margin: 150px 0 30px;
  font-weight: 900;
}

.contents p{
  padding: 0 25%;
  margin-bottom: 63px;
  text-align: center;
}

.content{
  display: flex;
  padding: 10px;
  margin-bottom: 130px;
}

.content img{
  width: 100%;
}

.contentDesc h5{
  font-size: 16px;
  width: 80%;
}

.contentWrapper{
  margin-right: 10px;
  position: relative;
}

.contentDesc{
  display: flex;
  position: absolute;
  top: 95px;
  width: 100%;
  padding: 20px 10px 10px 20px;
}

.contentDesc button{
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
  background-size: cover; 
  margin: 5px;
}

.footer{
  background-image: url(./background/footer/Bitmap.png),url(./background/footer/Path\ 4.png);
  background-position-y:0,50px;
  background-position-x: 20px ,0;
  background-repeat: no-repeat;
}

.footer h1{
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}

.footer p{
  font-size: 18px;
  text-align: center;
  margin: 30px 300px 203px;
}

.credit p{
  margin: 25px 250px;
  border: 1px solid white;
  width: 35%;
  border-radius: 20px;
}

.credit h5{
  margin: 24px 0;
}

.credit{
  background-color: #0B24FB;
}

.credit span{
  font-weight: 700;
}

@media(max-width:480px){
  .landing{
    background-size: 0,150px,30%,200%,350%;
    background-position-x:100px,center,-60px,-460px,-570px;
    background-position-y:100px,350px,300px,-80px,-90px;
  }

  .landing button{
    margin-bottom: 100px;
  }
}

@media(max-width:680px){
  .testimonials{
    top: 1380px;
  }

  .nextbuttonNav,.prevbuttonNav{
    display: none;
  }

  .content{
    display: block;
  }
}

@media(max-width:985px){
  .nextbuttonNav{
    left: 90%;
  }

  
}