@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600&display=swap');

*{
  font-family:'Work Sans', sans-serif;
}


.header{
  display: flex;
  margin: 17px 0px 17px 213px;
  background-color: white;
}

.header img{
  width: 33px;
  height: 33px;
  margin-right: 13px;
}

.greetings p{
  margin: 0;
  font-size: 12px;
}

.greetings h5{
  font-size: 16px;
  margin: 0;
  font-weight: 600;
}